.product-form {
	display: flex;
	width: 20%;
	margin: auto;
}

.delete-btn .edit-btn{
	display: block;
	font: inherit;
	padding: 5px;
	width: 66px;
	border: 1px solid #AA6817;
	cursor: pointer;
	outline: none;
	font-size: 9px;
}

h1 {
	margin: 10px;
}

input {
	margin: 10px 0;
}

button {
	display: block;
	font: inherit;
	padding: 5px;
	width: 66px;
	border: 1px solid #AA6817;
	cursor: pointer;
	outline: none;
	font-size: 9px;
}

button:hover {
	background-color: #966909;
	color: white;
}

.products {
	border: 1px solid black;
	display: flex;
}

.prev-step {
	width: 150px;
	font-size: 16px;
	margin: 120px auto auto auto;
}

h1	{
	font-size: 16px;
}