input {
	outline: none;
	border: 1px solid #cccccc;
	background-color: #FFFFFF;
	font: inherit;
	padding: 6px 10px;
	display: block;
	width: 20%;
	box-sizing: border-box;
	margin: auto;
	font-weight: bold;
}