.active {
	background-color: #DAD735;
	outline: none;
	cursor: pointer;
	border: 1px solid #966909;
	color: #966909;
	font-family: inherit;
	font-size: 16px;
	padding: 15px 30px;
	box-shadow: 2px 2px 2px #966909;
	width: 150px;
	margin: auto;
}

.not-active {
	pointer-events: none;
	background-color: #DAD735;
	outline: none;
	cursor: pointer;
	border: 1px solid #966909;
	color: #966909;
	font-family: inherit;
	font-size: 16px;
	padding: 15px 30px;
	box-shadow: 2px 2px 2px #966909;
	width: 150px;
	margin: auto;
}

input {
	outline: none;
	border: 1px solid #cccccc;
	background-color: #FFFFFF;
	font: inherit;
	padding: 6px 10px;
	display: block;
	width: 20%;
	box-sizing: border-box;
	margin: auto;
	font-weight: bold;
}

textarea{
	outline: none;
	border: 1px solid #cccccc;
	background-color: #FFFFFF;
	font: inherit;
	padding: 6px 10px;
	display: block;
	width: 20%;
	box-sizing: border-box;
	margin: auto;
	font-weight: bold;
}

textarea:focus {
	outline: none;
	background-color: #cccccc;
}

input:focus {
	outline: none;
	background-color: #cccccc;
}

form {
	width: calc(100% - 900px);
	margin: auto;
	position: relative;
}