.add-btn {
	width: 150px;
	margin: 10px auto;
	font-size: 16px;
}

input {
	outline: none;
	border: 1px solid #cccccc;
	background-color: #FFFFFF;
	font: inherit;
	padding: 6px 10px;
	display: block;
	width: 20%;
	box-sizing: border-box;
	margin: 10px auto;
	font-weight: bold;
}

input:focus {
	outline: none;
	background-color: #cccccc;
}

